* {
	margin: 0;
	padding: 0;
	/*box-sizing: content-box;*/
	font-family: 'Ubuntu', sans-serif;
}

.hidden {
	display: none;
}

body {
	position: relative;
	min-height: 100vh;
	margin-bottom: 50px;
}

footer {
	background-image: linear-gradient(rgba(255, 255, 255, 0), silver);
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -60px;
}

nav {
	background-image: linear-gradient(silver, rgba(255, 255, 255, 0));
	margin-bottom: 20px;
}

.active2 {
	background-color: gainsboro;
}

.active2:hover {
	background-color: gainsboro;
}

a {
	text-decoration: none;
	color: dimgrey;
}

a:hover {
	text-decoration: none;
	color: grey;
}

#register_form {
	width: 1000px;
	margin: 0 auto;
}

#login_form {
	width: 500px;
	margin: 0 auto;
}

.error {
	color: red;
}

.quantity {
	width: 24%;
	margin-right: 2%;
}

.add {
	width: 74%;
}

.cart_img {
	width: 100px;
}

.card-img-top {
	height: 50%;
}

.edit-item-image {
	width: 200px;
	height: 200px;
}